In [1]:
pip install pandas requests

Requirement already satisfied: pandas in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: requests in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from pandas) (1.21.5)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from requests) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/envs/dev/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import requests
import pandas as pd


IEX_API_TOKEN = 'pk_8c8bff848e484ad89b66c46d29d4f42e'

# List of 6 stock symbols
stocks = ['GS', 'C', 'MS', 'JPM', 'BAC', 'WFC']

# List of 100 ETF symbols (replace this with the actual symbols you want)
etfs = ['SPY', 'QQQ', 'VTI', 'VWO', 'IEFA', 'EEM', 'IEMG', 'EFA', 'IJH', 'VOO'] * 10

symbols = stocks + etfs

base_url = 'https://cloud.iexapis.com/stable/stock'
fields = ['open', 'close', 'high', 'low', 'volume']

data = []

for symbol in symbols:
    url = f'{base_url}/{symbol}/quote?token={IEX_API_TOKEN}&filter={",".join(fields)}'
    response = requests.get(url)

    if response.status_code == 200:
        quote_data = response.json()
        quote_data['symbol'] = symbol
        data.append(quote_data)
    else:
        print(f'Error fetching data for {symbol}: {response.status_code}')

df = pd.DataFrame(data)

print(df)

       open   close     high      low    volume symbol
0    326.82  322.65  326.900  320.120   1536818     GS
1     47.01   46.09   47.020   45.645  15542410      C
2     87.00   84.82   87.200   84.260   6222831     MS
3    130.50  128.42  130.590  127.410  11579916    JPM
4     28.55   27.98   28.650   27.660  56233295    BAC
..      ...     ...      ...      ...       ...    ...
101   39.47   39.54   39.570   39.350  31518729    EEM
102   48.85   48.95   48.989   48.710   8609025   IEMG
103   72.09   72.10   72.320   71.885  15364637    EFA
104  250.56  245.77  250.780  244.410   1336224    IJH
105  378.19  375.43  378.400  374.130   2713278    VOO

[106 rows x 6 columns]

In [3]:
df.head()
df.tail()

       open   close     high      low    volume symbol
101   39.47   39.54   39.570   39.350  31518729    EEM
102   48.85   48.95   48.989   48.710   8609025   IEMG
103   72.09   72.10   72.320   71.885  15364637    EFA
104  250.56  245.77  250.780  244.410   1336224    IJH
105  378.19  375.43  378.400  374.130   2713278    VOO